/* .btn{
    
    margin-top: 1px;
    margin-right: 20px;
    position: absolute;
    right: 0;
    width: 100px;
    height: 40px;
    color: rgb(12, 12, 12);
    background-color: rgb(212, 39, 39);
} */
.buy-button{
    background-color: rgb(189, 130, 19);
    color: rgb(14, 13, 13);
    padding: 3px;
    margin-left: 10px;
    border: 2px solid black;
}
